.btn {
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #a8a8e0;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  max-width: 170px;
  min-width: 90px;
}

.btn:hover,
.btn:focus {
  background-color: #61528f;
  color: #ffffff;
}

.btn-secondary {
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: #c9ccd3;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  max-width: 170px;
  min-width: 90px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #FFEAD2;
  color: #ffffff;
}

.top-bar {
  display: flex;
  padding: 30px 0px 30px 65px;
  border-bottom: 2px solid #2f2758;
  color: #2f2758;
}